.navbar {
	height: 40px;
	width: 100%;
	background: #6a6563;
	background: -webkit-linear-gradient(bottom left, #6a6563, #fcd1b2);
	background: -moz-linear-gradient(bottom left, #6a6563, #fcd1b2);
	background: linear-gradient(to top right, #6a6563, #fcd1b2);
}

.menu {
	height: 40px;
	width: 50px;
	background: #6a6563;
	background: -webkit-linear-gradient(bottom left, #6a6563, #fcd1b2);
	background: -moz-linear-gradient(bottom left, #6a6563, #fcd1b2);
	background: linear-gradient(to top right, #6a6563, #fcd1b2);
}
/* for mobile  */
.items {
	background: #6a6563;
	background: -webkit-linear-gradient(bottom left, #6a6563, #fcd1b2);
	background: -moz-linear-gradient(bottom left, #6a6563, #fcd1b2);
	background: linear-gradient(to top right, #6a6563, #fcd1b2);
	color: white;
	width: 100vw;
	height: auto;
	/* display: none; */
	font-weight: 700;
	border-radius: 5%;
	visibility: hidden;
	transition: transform 700ms ease-in-out;
	/* the following means doN't do anything on hover
        so that when you hover on the pink box
        it wouldn't trigger again*/
	pointer-events: none;
	/* 
		display: grid;
		grid-template-columns: repeat(13, 1fr);
		grid-template-rows: repeat(13, 1fr); */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

.menu.active .items {
	transform: translate(0, 40px);
	/* display: block; */
	visibility: visible;
}
.item {
	margin-bottom: 12px;
	margin-left: 5px;
	margin-top: 5px;
}
/* for desktop */
@media only screen and (min-width: 768px) {
	.items {
		height: 160px;
		width: 85px;

		background: #6a6563;
		background: -webkit-linear-gradient(bottom left, #6a6563, #fcd1b2);
		background: -moz-linear-gradient(bottom left, #6a6563, #fcd1b2);
		background: linear-gradient(to top right, #6a6563, #fcd1b2);
		/* display: none; */
		font-weight: 700;
		border-radius: 5%;
		visibility: hidden;
		transition: transform 700ms ease-in-out;
		/* the following means doN't do anything on hover
        so that when you hover on the pink box
        it wouldn't trigger again*/
		pointer-events: none;
		color: white;
	}
}
